:root {
  --primary-color: #5e17eb;
  --secondary-color: #6c237f;
  --accent-color: #ffde32;
}


$primary-color: #5e17eb;
$secondary-color: #6c237f;
$tertiary-color: #ffde32;
$background: rgb(47, 45, 45);
$whitebreak:#dfdedec4;
$white:#f5f4f6;
$black:#000000;
$border : solid 3px $tertiary-color;
$br: 10px;
$police: 'cochin';

